.banner {
    padding-bottom: 2rem;
    @media  screen and  (max-width: 425px){
        height: auto;
        width: auto;
        padding: 0%;
        margin-bottom: 0.8rem;
    }
}

.image{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
    filter: contrast(1.2) brightness(0.8);
}

.section {
    padding: 0 10%;
}

.collapse-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .collapse-header{
      width: 60vw;
    }
    @media screen and (max-width: 425px) {
      flex-direction: column;
      .collapse-header {
        width: 14rem;
      }
    }
}

.collapse-title {
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 1rem;
    @media  screen and  (max-width: 425px){
        padding: 0;
    }
}

.collapse-content {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    width: 60vw;
    @media  screen and  (max-width: 425px){
        padding-left: 1rem;
        line-height: 1.5rem;
        font-size: 1.2rem;
        margin: 0;
        width: 14rem;
    }
}

.collapse-about {
    @media screen and (max-width: 425px) {
        margin: 0;
        padding: 0;
    }
}