.banner {
    height: 16rem;
    @media  screen and  (max-width: 425px){
        height: auto;
        width: auto;
        margin-bottom: 2rem;
    }
}

.collapse-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media  screen and  (max-width: 425px){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.collapse {
    @media  screen and  (max-width: 425px){
    }
}


