.carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 425px) {
      height: 10rem;
      width: 17rem;
      padding-bottom: 6rem;
    }
  }

  .left-arrow {
    width: 3.5rem;
    height: 4rem;
    position: absolute;
      top: 35rem;
      left: 7rem;
    color: black;
    @media screen and (max-width: 425px) {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 11rem;
      left: 1.8rem;
}
  }

  .right-arrow {
    width: 3.5rem;
    height: 4rem;
    position: absolute;
      top: 35rem;
      left: 78rem;
    @media screen and (max-width: 425px) {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 11rem;
      left: 15.5rem;
}
  }
  .carousel-picture{
      @media screen and (max-width: 425px) {
          width: 16rem;
          height: 16rem;
        border-radius: 10px;
  }
  }

  .compteur {
    width: 2.5rem;
  }