.carrousel {
    display: flex;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 425px) {
      height: 10rem;
      width: 17rem;
      padding-bottom: 6rem;
    }
  }

  .arrow {
    position: absolute;
    width: 8rem;
    cursor: pointer;
  }