.collapse-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    // margin: 15px;
    padding: 0.7rem;
    @media  screen and  (max-width: 425px){
        padding: 0 2rem;
        font-size: 0.8rem;
    }
}


.collapse-container {
    width: 65%;
    margin-bottom: 2rem;
    @media  screen and  (max-width: 425px){
        width: 90%;
    }
}

.arrow {
    cursor: pointer;
    width: 1.6rem;
    height: 1.2rem;
    object-fit: contain;
    animation: inverso 0.5s forwards;
}

.arrow-down {
    cursor: pointer;
    width: 1.6rem;
    height: 1.2rem;
    object-fit: contain;
    animation: rotate 0.5s forwards;
}

.open-collapse {
    width: 65%;
}

h2{
    color: white;
}

.collapse-text {
    color: #FF6060;
    font-size: 1.5rem;
}

//animation

@keyframes rotate {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(180deg);
    }
    
}

@keyframes inverso {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(-180deg);
    }
    
}

