//navbar
.nav-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding:0 10%;
    @media  screen and  (max-width: 425px){
        height: 3.5rem;
        align-items: start;
    }
}

img {
    width: 160px;
    height: 160px;
    @media  screen and  (max-width: 425px){
        width: 35%;
        height: 3rem;
        align-items: start;
    }
}

.nav-link ul {
    display: flex;
    justify-content: right;
    gap: 2rem;
    color: #FF6060;
    font-size: 1.5rem;
    li:hover {
        text-decoration: underline;
        color: #FF6060;
    }

    @media  screen and  (max-width: 430px){
        justify-content: left;
        padding: 0 1.8rem;
        font-size: 0.9rem;
        font-weight: 400;
        width: 59%;
}
}

footer {
    @media  screen and  (max-width: 425px){
    display: flex;
    justify-content: center;
    }
}
.footer-container {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 0.5rem;
    @media  screen and  (max-width: 425px){
        padding: 8% 0; 
        width: 20rem;
    }
    img {
        object-fit: contain;
        @media  screen and  (max-width: 425px){
        }
    }
    
    @media  screen and  (max-width: 425px){
         display: flex;
         flex-direction: column;
         align-items: center;
         .footer-text {
            padding: 1rem;
            margin: 0;
         }
    }
}