//navbar

.nav-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding:0 10%;
}

img {
    width: 100px;
    height: 100px;
    @media  screen and  (max-width: 425px){
        width: 27%;
    }
}

.nav-link ul {
    display: flex;
    gap: 2rem;
    color: #FF6060;
    font-size: 1.5rem;
    li:hover {
        text-decoration: underline;
        color: #FF6060; 
    }
    @media  screen and  (max-width: 430px){
        font-size: 0.8rem;
        width: 80%;
}
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 0.5rem;
    img {
        object-fit: contain;
    }
}