.carrousel {
    display: flex;
    justify-content: center;
    position: relative;
    @media  screen and  (max-width: 425px){
        height: 10rem;
        width: 20rem;
        padding-bottom: 50%;
    }
}

.photos {
    width: 100%;
    object-fit: cover;
    height: 20rem;
    border-radius: 1.5rem;
    @media  screen and  (max-width: 425px){
        width: 19.2rem;
    }
}

.description-container {
    display: flex;
    flex-direction: column;
}
  @media (max-width: 425px) {
    .description-container {
      flex-direction: column
    }
  
    .taga {
      order: 1;
    }
  
    .host {
      order: 3;
    }

    .rating-container {
        order: 2;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


.host {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @media  screen and  (max-width: 425px){
        justify-content: right;
    }
}

.owner {
    color:#FF6060 ;
    font-size: 1.5rem;
    width: 10rem;
    text-align: right;
    @media  screen and  (max-width: 425px){
        font-size: 1rem;
        width: 5rem;
    }
}

.host-picture {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    @media  screen and  (max-width: 425px){
        width: 3rem;
        height: 3rem;
    }
}

.main {
    padding: 0 10%;
    @media  screen and  (max-width: 425px){
        padding: 0 7%;;
    }
}

.quartier {
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 400;
    @media  screen and  (max-width: 425px){
        font-size: 1.3rem;;
        font-weight: 500;
    }
}

.city-aera {
    display: flex;
    flex-direction: column;
    color:#FF6060 ;
    width: 50%;
    @media  screen and  (max-width: 425px){
    width: 100%;
    }
}

.city {
    margin: 0%;
    font-size: 1.2rem;
    @media  screen and  (max-width: 425px){
        font-size:  1rem;
        padding: 0.5rem 0;
    }
}

.tag-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media  screen and  (max-width: 425px){
        display: flex;
        flex-direction: column;
    }
}

.taga {
    display: flex;
    gap: 1rem;
    width: 50%;
    @media  screen and  (max-width: 425px){
        width: 100%;
    }
    span {
        color: white;
        padding: 0.2rem 2rem;
        background-color: #FF6060;
        border-radius: 10px;
        @media  screen and  (max-width: 425px){
            padding: 0.2rem 0.5rem;
        }
    }
}

.star {
    width: 2rem;
    height: 2rem;
    @media  screen and  (max-width: 425px){
    }
}

.collapse {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    @media  screen and  (max-width: 425px){
        flex-direction: column;
    }
}

.collapse-container {
    @media  screen and  (max-width: 425px){

    }
}

.title {
    font-size: 1.5rem;
    width: 35vw;
}

.description-content, .equipement-list {
    font-size: 1.2rem;
    max-width: 35vw;
}
