.error-container{
    text-align: center;
    margin-bottom: 4.5rem;
}

.error-content {
    margin-bottom: 6rem ;
    @media  screen and  (max-width: 425px){
    margin-top: 5rem;
    }

}

.error {
    color:#FF6060;
    font-size: 18vw;
    font-weight: bold;
    @media  screen and  (max-width: 425px){
        height: 8%;
    }
}

.not-found {
    font-size: 2.7rem;
    color: #FF6060;
    @media  screen and  (max-width: 425px){
        width: 15rem;
        padding: 0 14%;
        font-size: 1.3rem;
        color: #FF6060;
    }
}

.home-link {
    color: #FF6060;
    font-size: 1.2vw;
    &:hover{
    text-decoration: underline;
    color: #FF6060;
}

    @media  screen and  (max-width: 425px){
        font-size: 3.5vw;
        text-wrap: nowrap;
        text-decoration: underline;
    }
}
